<aside id="sideBar">
            <ul class="main-nav">
                <!-- Your Logo Or Site Name -->
                <li class="nav-brand">
                    <a href="#">Steven Jackson</a>
                </li>
                <!-- Search -->
               
              
                <li>
                    <a href="#/overall">Overall Questions</a>
                </li>
                <li>
                    <a href="#/technical">Technical Questions</a>
                </li>
                
               
            </ul>
        </aside>