<h1>Overall Questions</h1>
<hr>

<blockquote>Why are you a client-side developer?</blockquote>
<p>I love to code. I am not limited to just client-side dev.<br>I enjoy all aspects of development and love learning new things</p>
<hr>
<blockquote>How did you begin?</blockquote>
<p>Always had a passion for it from a very young age. Nothing has changed since then</p>
<hr>

<blockquote>Most interesting (or complicated, or peculiar) project/feature you've worked on?</blockquote>
<p>I have worked on many sites. I have seen the best code and the worst. <br><br>
  <strong>Most interesting:</strong> <br>
  I have had a lot of fun recently with Angular/Ionic and have done an API integration into Wordpress previously with PHP. <br>
  I have also built a client-side CSV validator in PHP, because I got tired of the back and forth communication regarding errors in the CSV provided by the clients <br><br>

  <strong>Perculiar and Complicated </strong><br>
  I am currently working on the most horrible site I have ever seen. Pretty much every single CSS style is !important<br>
  A mobile view of the Website was made which was unnecessary as the site is very basic and was not required.<br>
  I always ask myself why this site was over complicated? Keeps me up at night (^^_)
</p>
<hr>
<blockquote>Most notable mistake made?</blockquote>
<p>Brought down my previous companies infrastructure for a day by making a typographical error in a domain update</p>
<hr>
<blockquote>How many lines of code you think you've written? Deleted? Rewritten?</blockquote>
<p>If I had to estimate. I would say about 20 - 30 thousand lines over the course of my career, including personal projects.</p>
<hr>
<blockquote>What is your familiarity with revision control systems, specifically Git?</blockquote>
<p>I am familiar with Git CLI as well as Github. This page is hosted on Github</p>
<hr>
<blockquote>What does your work environment look like? What programs and tools do you use for client side development?</blockquote>
<p>
  <strong>Setup</strong><br>
  OS : Windows 10 <br>
  Text Editor : Sublime Text 3 <br><br>

  <strong>Tools used most commonly:</strong><br>
  Grunt <br>
  CLI <br>
  Filezilla <br>
  Postman <br>


</p>
<hr>
<blockquote>Do you use any CSS frameworks? Have you created your own?</blockquote>
<p>I use Boostrap mostly frequently. I did partially create my own CSS Framework, but then stopped working on it as Bootstrap can be customized to only include specific styles</p>
<hr>
<blockquote>Do you use "plain" Javascript? jQuery? Are you familiar with other Javascript frameworks? How?</blockquote>
<p>I am familiar with JS, jQuery and a some Angular(This page is built on Angular). I can write JS, JQ and I understand how Angular works.</p>
<hr>
<blockquote>Are you familiar with Linux, SSH, command-line tools? How?</blockquote>
<p>I am familiar with Windows CLI and Gitbash</p>
<hr>
<blockquote>Compared to other developers you met, where do you position youreself in terms of quality of your work?</blockquote>
<p>I take absolute pride in my work and from the work I have seen. I consider mine to be pretty good, but not without room for improvement</p>
<hr>
<blockquote>Do you have any "code samples" of your work?</blockquote>
<p>It is openly available on <a href="https://github.com/steven-daniell-jackson" target="_blank">my Github</a>. It contains my personal work, but not my client work.</p>
<hr>